<title>Register</title>

<h1>Register New User</h1>

<form action="/register" method="post">
    <h4>Username</h4>
    <input type="text" name="username" id="username">
    <h4>Email</h4>
    <input type="email" name="email" id="email">
    <h4>Password</h4>
    <input type="password" name="password" id="password">
    <h4>Confirm Password</h4>
    <input type="password" name="confPassword" id="confPassword">
    <button type="submit">Register User</button>
</form>