* {
    font-family: "fixedsys", monospace, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    position: absolute;
    left: 0;
    top: 0;
    width: 94%;
    min-height: 87%;
    background-color: var(--background-color);
    padding: 3%;
}

.color-header {
    width: 100%;
    height: 8px;
    background-color: var(--primary-color);
}

.heading-2 {
    font-size: 1.5em;
}